.box {
    border-radius: 20px;
    background-color: white;
    padding: 6px 30px;
}

#map {
    height: 800px;
    width: 1200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}