* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #cafff6;
}

h1 {
    color: #2c6d8e;
}

table {
    border-collapse: collapse;
    background-color: #d4ffbb;
    width: 700px;
}

th {
    background-color: #36beb5;
}

th,
td {
    width: 100px;
    height: 75px;
}

table,
th,
td {
    border: 3px solid #36beb5;
    text-align: center;
    font-size: 36px;
}

td {
    color: #17abb7;
    font-weight: 500;
}

.out {
    color: #8ae0a4;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}