* {
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    height: 800px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1.5%;
    overflow-y: scroll;
    background-color: white;
    border-radius: 30px 10px 10px 30px;
    padding-right: 3%;
}

 ::-webkit-scrollbar {
    /* width */
    width: 10px;
}

 ::-webkit-scrollbar-track {
    /* Track */
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    /* Handle */
    background: #888;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: #555;
}