* {
    font-family: 'Kanit', sans-serif;
}

img {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
}

div.box {
    display: table;
    width: 400px;
    height: 400px;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: rgb(250, 230, 200);
}