* {
    font-family: 'Prompt', sans-serif;
}

body {
    margin: 0;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    overflow: hidden;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.container {
    position: absolute;
    width: 300px;
    height: 350px;
    top: 25%;
    word-wrap: break-word;
    overflow: auto;
}

p {
    width: 90%;
    padding: 5%;
}

.credit {
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
}

a {
    color: orange;
}

a:active {
    color: blue;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}