/* Thirawee Thitiwattanakornsiri 63070088 */

* {
    font-family: 'Kanit', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 50%;
}